/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #222; /* Darker background */
    color: #fff; /* Light text */
}

/* Header */
header {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* Headings */
h1 {
    color: white;
}

h2 {
    color: #ccc;
}

/* Custom Styling for DevOps Heading */
h2.white-text {
    color: white;
    background-color: #444;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
}
